/*все цвета вынести в кастомные свойства, в значение :root*/
:root {
  --basic-black: #000000;
  --basic-black2:#444444;
  --basic-grey8: #283136; /*в каталоге от и до,темная плашка над картинками */
  --basic-grey1: #EEEEEE;
  --basic-grey2: #DFDFDF;
  --basic-grey3: #D5D5D5;
  --basic-grey4: #ABABAB;
  --basic-grey5: #A6A6A6; /*цвет логотипа нажатие*/
  --basic-grey6: #666666;
  --basic-grey7: #4D4D4D;/*в каталоге темная плашка над картинками */
  --basic-grey8: #283136; /*в каталоге от и до,темная плашка над картинками */
  --basic-grey9: #E1E1E1;
  --basic-grey10: #D7DCDE;
  --basic-grey11: #B4B9BB;
  --basic-grey12: #D7DCDF;
  --basic-grey13: #cfcfcf;
  --basic-grey14: #999999;
  --basic-white: #ffffff;
  --basic-red1: #FB565A; /*навигация наведение, подчеркивание, кнопка в покое, крестик нажатие*/
  --basic-red2: #E74246; /*кнопка, наведение*/
  --basic-red3: #D7373B; /*кнопка, нажатие*/
  --basic-green1: #00CA74; /*кнопка покой*/
  --basic-green2: #00BC6C; /*кнопка наведение*/
  --basic-green3: #00AA62; /*кнопка нажатие*/
  --basin-gold1: #EFC849; /*кнопка желтая*/
  --basin-gold2: #EAB534;
  --basin-gold3: #E5A722;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: var(--basic-black);
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 1160px;
  padding: 0px;
  margin: 0px auto;
}

/*Хедер навигационные кнопки*/

.page-body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.main-header {
  background-color: var(--basic-grey1);
}

.main-navigation {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 0px;
  background-color: var(--basic-grey1);
}

.main-header-logo {
  margin-top: 49px;
}

.main-header-logo svg {
  margin: 0px;
  margin-top: 49px;
  padding: 0px;
}

.main-header-logo:active {
  opacity: 0.3;
 }

 .site-navigation {
  padding: 0;
  padding-left: 202px;
 }

.site-navigation,
.nav-basket {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-decoration: none;
  margin: 0px;
  margin-top: 75px;
}

.nav-item a,
.nav-basket {
  color: var(--basic-black);
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  padding-right: 45px;
}

.nav-activ-catalog {
  position: relative;
  display: inline-block;
}

.nav-activ-catalog::after {
  content: "";
  position: absolute;
  right: 0px;
  bottom: 0;
  left: 0px;
  width: 61%;
  height: 2px;
  background-color: var(--basic-red1);
}

.nav-basket {
  position: relative;
  max-width: 140px;
  margin: 0;
  margin-left: auto;
  padding: 0;
  margin-top: 75px;
  padding-left: 15px;
  word-break: keep-all;
}

.nav-basket::before {
  content: "";
  position: absolute;
  top: 8px;
  left: -26px;
  width: 15px;
  height: 15px;
  background-color: var(--basic-grey1);
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
}

.nav-item a:hover,
.nav-basket:hover {
  text-decoration: none;
  color: var(--basic-red1);
}

.nav-item a:active,
.nav-basket:active {
  color: var(--basic-grey3);
  text-decoration: none;
}

/*на стронице каталога*/
.page-catalog {
  height: 100%;
}

.major-heading {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  box-sizing: border-box;
  width: 100%;
  min-width: 1200px;
  margin: 0px;
  padding-top: 72px;
  padding-bottom: 108px;
  padding-right: 15px;
  margin-bottom: 55px;
  background-color: var(--basic-grey1);
}

/*Главная страница.*/
/*Преимущества*/

.slider {
  background-color: var(--basic-grey1);
}

.slider-item {
  position: relative;
  min-height: 424px;
  padding: 0px;
  padding-top: 70px;
  display:none;
  box-sizing: border-box;
  background-color: var(--basic-grey1);
}

.slider-item-active {
  display: block;
}

.slider-item-wrapper {
  width: 45%;
}

.slider-item-one,
.slider-item-two {
  position: absolute;
  right: 3px;
  top: -6px;
}

.slider-item-three {
  position: absolute;
  right: 3px;
  top: -6px;
}

.slider-item h3  {
  font-weight: 500;
  font-size: 55px;
  line-height: 57px;
  background-color: var(--basic-grey1);
  padding: 0px;
  margin: 0px;
}

.text-slider {
  font-size: 16px;
  line-height: 25px;
  color: var(--basic-grey8);
  margin: 0;
  margin-top: 23px;
  margin-bottom: 39px;
  order: 1;
}

.slide__button {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--basic-white);
  border: none;
  border-radius: 3px;
  padding: 16px 54px 16px 54px;
  background-color: var(--basic-red1);
}

.slide__button:hover {
  background-color: var(--basic-red2);
}

.slide__button:active {
  background-color: var(--basic-red3);
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.slider-item-wrapper-two .text-slider {
  margin-top: 34px;
  margin-bottom: 29px;
}

.slider-link img {
  position: relative;
}

.slider-controls {
  position: absolute;
  top: 431px;
  left: 729px;
  z-index: 20;
  display: flex;
  width: 88px;
  justify-content: space-between;
}

.slider-controls button {
  padding: 0;
  width: 18px;
  height: 18px;
  background-color: var(--basic-white);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

/*Услуги*/

.services {
  color: var(--basic-grey8);
  vertical-align: bottom;
  margin-top: 30px;
}

.services-img {
  margin: 0px;
  padding: 0px;
  margin-top: -15px;
}

.services-text {
  margin: 0;
  margin-top: 65px;
  margin-bottom: 32px;
  padding-right: 40px;
}

.services-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.services-item {
  width: 300px;
  margin-right: 100px;
  min-height: 347px;
}

.services-title {
  position: relative;
  bottom: -206px;
  color: var(--basic-black);
  font-size: 24px;
  text-transform: uppercase;
  width: 300px;
  margin-right: 100px;
  margin-top: 18px;
}

.services-button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--basic-white);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  border: none;
  border-radius: 3px;
  padding: 17px 40px 15px 39px;
}

.services::after {
  content: "";
  display: block;
  height: 2px;
  background-color: var(--basic-grey1);
  margin-top: 80px;
}

.button-red {
  background-color: var(--basic-red1);
}

.button-red:hover {
  background-color: var(--basic-red2);
}

.button-red:active {
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  background-color: var(--basic-red3);
}

.button-green {
  background-color: var(--basic-green1);
}

.button-green:hover {
  background-color: var(--basic-green2);
}

.button-green:active {
  background-color: var(--basic-green3);
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.button-yellow {
  background-color: var(--basin-gold1);
}

.button-yellow:hover {
  background-color: var(--basin-gold2);
}

.button-yellow:active {
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  background-color: var(--basin-gold3);
}

/*Особенности*/

.features {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.about-us {
  padding-right: 139px;
  margin-top: 73px;
}

.progress-page {
  width: 360px;
  margin-top: 39px;
}

.progress-page img {
  padding-bottom: 35px;
}

.features-title {
  font-weight: 500;
  font-size: 45px;
  line-height: 46px;
  font-style: normal;
  width: 660px;
  margin: 0;
}

.features-title-span {
  font-stretch: extra-expanded;
  margin-top: 2px;
}

.text-features {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  color: var(--basic-grey8);
  margin: 0;
  margin-top: 32px;
}

.title-features {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  margin: 0;
  margin-top: 40px;
}

.features-list {
  display: flex;
  flex-direction: column;
  flex-basis: 33%;
  justify-content: space-between;
  margin: 0;
  list-style: none;
  margin-top: 13px;
  margin-left: -4px;
}

.features-item {
  position: relative;
  color: var(--basic-grey8);
  font-size: 16px;
  line-height: 44px;
}

.features-item:nth-last-child(2) {
  padding-top: 4px;
}

.features-item-three {
  padding-top: 5px;
}

.features-item::before {
  content:  "";
  width: 25px;
  height: 2px;
  background: var(--basic-red1);
  display: block;
  position: absolute;
  left: -36px;
  top: 22px;
}

.features-item:nth-last-child(2)::before,
.features-item:nth-child(3)::before {
  transform: translateY(3px);
}

.progress caption {
  padding-bottom: 31px;
  padding-left: 2px;
}

.progress-head {
  font-weight: bold;
  font-size: 16px;
  line-height: 14px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.progress-columns {
  color: var(--basic-black);
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
}

.progress-columns td {
  width: 119px;
  padding-top: 4px;
  padding-right: 4px;
}

.percent {
  color: var(--basic-black);
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
}

.progress-lines {
  color: var(--basic-grey8);
  vertical-align: middle;
  width: 20%;
  font-size: 16px;
  line-height: 18px;
}

.progress-lines td {
  padding-top: 10px;
}

/*Партнеры*/

.partners-logo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
  padding: 0;
  padding-top: 32px;
  padding-bottom: 15px;
}

.logo {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 25%;
  justify-content: space-around;
}

.logo-link {
  display: flex;
  justify-content: center;
  opacity: 0.2;
}

.logo-link-html img {
  margin-right: 26px;
  margin-top: 10px
}

.logo-link-pinc img {
  margin-left: 12px;
}

.logo-link-mishka img {
  margin-left: 33px;
}

.logo-link-barbershop img {
  margin-right: -6px;
}

.logo-link:hover {
  opacity:1;
}

.logo-link:active {
  opacity: 0.1;
}

.partners::before {
  content: "";
  height: 2px;
  display: block;
  background-color: var(--basic-grey1);
  margin-top: 63px;
}

.partners::after {
  content: "";
  height: 2px;
  display: block;
  background-color: var(--basic-grey1);
  margin-top: 30px;
  margin-bottom: 80px;
}

.logo:not(:nth-child(4n))::after {
  content: "";
  display: inline-block;
  height: 52px;
  width: 2px;
  position: absolute;
  background-color: var(--basic-grey1);
  right: -11px;
  bottom: 50%;
  transform: translateY(26px);
}

.logo:first-child::after {
  right: 9px;
}

.logo:nth-child(2) {
  right: 9px;
}

/*адрес*/

.contacts-map {
  position: relative;
}

.contacts {
  position: absolute;
  top: 54px;
  padding: 49px 51px 32px 50px;
  z-index: 2;
  background-color: var(--basic-white);
}

.contacts-title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 23px;
}

.contacts-address {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-grey6);
}

.contacts-telephone {
  padding-top: 3px;
}

.contacts-telephone a {
  text-decoration: none;
  color: var(--basic-grey6);
  font-style: normal;
}

.contacts-button a {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--basic-white);
  border: none;
  border-radius: 3px;
  padding: 17px 44px 15px 44px;
  background-color: var(--basic-red1);
  margin-top: 23px;
}

.contacts-button a:hover {
  background-color: var(--basic-red2);
}

.contacts-button a:active {
  background-color: var(--basic-red3);
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.map {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 416px;
}

.map img {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

.map iframe {
  width: 100%;
  border: none;
}

/*footer*/

.main-footer {
  color: var(--basic-black2);
  background-color: var(--basic-white);
}

.page-footer {
  display: flex;
  margin-top: 68px;
  margin-bottom: 76px;
}

/*кнопки соц.сетей*/

.footer-social {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.footer-item {
  margin-right: 9px;
}

.social-button {
  display: flex;
  width: 81px;
  height: 81px;
  background-color: var(--basic-grey9);
  border-radius: 50%;
}

.social-button svg {
  margin: auto;
}

.social-button:hover,
.social-button:focus {
  background-color: var(--basic-red2);
}

.social-button:active {
  background-color: var(--basic-red3);
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.social-button:active svg {
  opacity: 0.3;
}

.page-footer-appeal {
  margin-left: 130px;
  margin-top: 8px;
}

.discount {
  margin-top: 10px;
}

/*лозунг призыв*/
.appeal-head {
  color: var(--basic-black);
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  display: flex;
}

.discount {
  color: var(--basic-black2);
  font-size: 16px;
  line-height: 22px;
}

/*попап*/

.appointment {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 960px;
  height: 590px;
  box-sizing: border-box;
  background-color: var(--basic-white);
  box-shadow: 0 4px 4px var(--basic-grey13);
  z-index: 3;
}

.appointment fieldset {
  padding: 63px 100px 84px 98px;
  border: 0 none;
}

.appointment-page {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.feedback-title {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
  margin: 0;
  margin-bottom: 20px;
}

.feedback-yourname,
.feedback-email,
.feedback-text {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 10px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
}

.feedback-yourname {
  margin-right: 320px;
}

.feedback-name,
.form-email {
  width: 340px;
  height: 45px;
  padding-left: 15px;
  border: 2px solid var(--basic-grey10);
}

.form-text {
  width: 745px;
  height: 98px;
  margin: 0 auto;
  padding-left: 15px;
  padding-top: 15px;
  border: 2px solid var(--basic-grey10);
}

.appointment-text{
  margin-top: 17px;
  margin-bottom: 23px;
}

.feedback-name::placeholder,
.form-email::placeholder,
.form-text::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black2);
  opacity: 0.5;
}

.feedback-name:hover,s
.form-email:hover,
.form-text:hover {
  border: 2px solid var(--basic-grey11);
}

.feedback-name:focus::placeholder,
.form-email:focus::placeholder,
.form-text:focus::placeholder {
  opacity: 1;
}

.feedback input,
.feedback textarea {
  border-color: var(--basic-grey10);
}

.feedback-name:invalid,
.form-email:invalid {
  outline: none;
  border-color: var(--basic-red2);
  color: var(--basic-red2);
}

.feedback-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  padding: 17px 82px 15px 84px;
  border-radius: 3px;
  background-color: var(--basic-red1);
  color: var(--basic-white);
  border: 0;
  outline: none;
}

.feedback-close {
  position: absolute;
  width: 21px;
  height: 21px;
  top: 78px;
  right: 90px;
  background-color: transparent;
  outline: none;
  border: 0;
  cursor: pointer;
  opacity: 0.3;
  background: var(--basic-white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.feedback-close::after,
.feedback-close::before {
  content: "";
  position: absolute;
  top: 8px;
  right: -3px;
  width: 27px;
  height: 4px;
  background-color: var(--basic-red1);
}

.feedback-close::after {
  transform: rotate(45deg);
}

.feedback-close::before {
  transform: rotate(-45deg);
}
.feedback-close:hover {
  opacity: 1;
}

.feedback-close:active {
  opacity: 0.1;
  border: 0 none;
}

/*Catalog*/
/*стоимость*/

.container-catalog {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 41px;
  margin-bottom: 60px;
}

.table fieldset {
  border: 0 none;
}

.cost-title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.price-controls {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: var(--basic-grey8);
}

.sort {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  line-height: 30px;
}

.filter-view-title,
.slider_catalog-title,
.filter-sort-title {
  color: var(--basic-black);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.slider_catalog-title {
  margin: 0;
  padding: 0;
  padding-top: 2px;
}

.filter-view-list,
.slider_catalog-list {
  list-style-type: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: var(--basic-grey8);
  page-break-after: auto;
  padding: 0;
  margin: 0;
}

.filter-view-list li,
.slider_catalog-list li {
  display: block;
}

.slider_catalog-button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  padding: 15px 89px 17px 88px;
  border-radius: 3px;
  background-color: var(--basic-grey1);
  color: var(--basic-black);
  border: 0;
  cursor: pointer;
}

.slider_catalog-button:hover {
  background-color: var(--basic-grey2);
  border: 0;
}

.slider_catalog-button:active {
  background-color: var(--basic-grey3);
  outline: none;
  border: 0;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.slider_catalog-button:focus {
  outline: none;
}

.filter-sort-title {
  margin-top: 0;
}

.filter-sort-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0px;
  margin: 0px;
}

.filter-sort-item {
  margin-right: 25px;
}

.filter-sort-item:first-child {
  margin-left: 260px;
}

.filter-sort-item a,
.filter-dir a {
  text-decoration: none;
  color: var(--basic-black);
  opacity: 0.3;
}

.filter-sort-item a:hover,
.filter-dir a:hover {
  color: var(--basic-black);
  opacity: 0.6;
}

.filter-sort-item a:active,
.filter-dir a:active {
  opacity: 1;
}

.filter-dir-item {
  list-style-type: none;
  padding-left: 18px;
}

/* Каталог */


/*шаблоны*/

.filter-dir {
  display: flex;
  margin: 0;
  padding: 0;
}

.example-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  margin: 0;
  margin-top: 40px;
  margin-bottom: 9px;
  padding: 0;
  list-style: none;
}

.example-item {
  position: relative;
  width: 360px;
  margin-right: 40px;
  margin-bottom: 36px;
}

.example-item::before {
  content: "";
  position: absolute;
  width: 358px;
  height: 40px;
  top: -8px;
  background-color: var(--basic-white);
  background-image: url(../img/browser.svg);
  opacity: 0.12;
}

.example-item:hover::before {
  opacity: 1;
}

.example-temp {
  margin: 0;
  margin-top: 32px;
}

.example-item:nth-child(2n) {
  margin-right: 0;
}

.example-item a {
  text-decoration: none;
}

.example-item-info {
  position: absolute;
  top: 380px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  height: 231px;
  background-color: var(--basic-grey1);
  align-items: center;
}

.example-item-info:hover {
  box-shadow: 0 4px 4px var(--basic-grey13);
}

.example-item h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  margin: 0;
  margin-top: 26px;
  margin-bottom: 12px;
}

.example-item h3:hover {
  color: var(--basic-red1);
}

.example-item h3:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.example-text {
  margin: 0;
  padding: 0;
  margin-left: 52px;
  margin-right: 53px;
  margin-bottom: 32px;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-grey6);
}

.butten-price {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 17px 72px 15px 72px;
  border-radius: 3px;
  background-color: var(--basic-red1);
  color: var(--basic-white);
}

.butten-price:hover {
  background-color: var(--basic-red2);
}

.button-price:active {
  background-color: var(--basic-red3);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/*pagination*/

.nav-page-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-page-item a{
  display: block;
  background-color: var(--basic-grey1);
  text-transform: uppercase;
  margin-right: 11px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  padding: 17px 20px 15px 20px;
  border-radius: 3px;
}

.nav-page-item a {
  text-decoration: none;
  color: var(--basic-black);
}

.nav-page-item a:hover,
.nav-page-item-activ a:hover {
  background-color: var(--basic-grey2);
}

.nav-page-item a:active {
  background-color: var(--basic-grey6);
  color: var(--basic-black);
  opacity: 0.3;
  box-shadow: inset 0px 3px 0px var(--basic-grey8);
}

.nav-page-item-activ a{
  border: 3px solid var(--basic-grey1);
  background: transparent;
  box-sizing: border-box;
  border-radius: 3px;
  padding-top: 14px;
  padding: 14px 17px 12px 19px;
}

.nav-page-item-last a {
  padding: 17px 77px 15px 78px;
}

/*Фильтр на странице каталога */

.cost {
  margin: 0;
  padding: 0;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: var(--basic-grey1);
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: var(--basic-grey12)
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: var(--basic-green1);
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--basic-grey4);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--basic-grey13);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls input {
  width: 60px;
  padding: 8px 0px 10px 16px;
  margin-left: 10px;
  text-align: center;
  color: var(--basic-grey8);
  border: none;
  border-radius: 5px;
  background: var(--basic-grey1);
}

.filter-view {
  margin: 0;
  padding: 0;
  margin-top: 54px;
}

/*radio*/

.filter-view legend {
  margin-bottom: 16px;
}

.filter-option {
  padding-left: 36px;
  margin-bottom: 25px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-option-two {
  margin-bottom: 20px;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -36px;
  width: 16px;
  height: 16px;
  border: 4px solid var(--basic-grey7);
  border-radius: 50%;
  opacity: 0.3;
}

.filter-input-radio-two + label::before {
  transform: translateY(-3px);
}

.filter-input-radio-three + label::before {
  transform: translateY(-1px);
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 7px;
  left: -29px;
  width: 9px;
  height: 9px;
  background-color: var(--basic-grey7);
  opacity: 0.3;
  border-radius: 50%;
}

.filter-input-radio-two:checked + label::after {
  top: 4px;
}

.filter-input-radio-three:checked + label::after {
  top: 6px;
}

/*checkbox*/
.filter-checkbox {
  margin-bottom: 20px;
}

.slider_catalog {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0;
  padding: 0;
  margin-top: 21px;
  padding-top: 18px;
}

.slider_catalog-list{
  margin-bottom: 32px;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -36px;
  top: -4px;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: -4px;
  left: -35px;
  width: 25px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.filter-input-checkbox:checked + label::before {
  display: none;
}

.filter-input-radio:hover + label::before,
.filter-input-radio:checked:hover + label::after,
.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:checked:hover + label::after {
  opacity: 1;
}

.filter-input-radio:active + label::before,
.filter-input-radio:checked:active + label::after,
.filter-input-checkbox:active + label::before,
.filter-input-checkbox:checked:active + label::after {
  opacity: 0.1;
}

/*catalog*/

.example-item a {
  display: flex;
  flex-direction: column;
}

.example-item h3 {
  order: 1;
}

.filter-sort-item-active a,
.filter-dir-item-activ a {
  opacity: 1;
}
